// CSS Styles
body {
    font-family: "Rambla", Helvetica, Arial, sans-serif !important;
}

.messages {
    height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}

.new-message {
    padding: 0;
    form {
        height: 100%;
    }
    background: #fff;
}

input {
    outline: none;
}

input[name=message] {
    width: 60%;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    margin: 1%;
    padding-left: 10px;
    height: 50px;
}

input[name=username] {
    width: 18%;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    margin: 1%;
    padding-left: 10px;
    height: 50px;
}

input[type=submit] {
    width: 17%;
    background: #162636;
    color: #fff;
    line-height: 42px;
    border-radius: 4px;
    border: 0;
}

.msg-wrapper {
    float: left;
    clear: both;
    margin: 3px 6px;
    display: inline-block;
    .message {
        background: rgb(22, 38, 54);
        font-size: 13px;
        border-radius: 4px;
        padding: 12px 15px;
        color: #fff;
    }
    span.username {
        color: #5596C0;
    }
}
